{#
/**
 * @file
 * Theme override for a 'form' element.
 *
 * Available variables
 * - attributes: A list of HTML attributes for the wrapper element.
 * - children: The child elements of the form.
 *
 * @see template_preprocess_form()
 */
#}
{%
  set classes = [
    'navbar-form',
    'navbar-right',
    'recherche',
  ]
%}
<form{{ attributes.addClass(classes) }}>
	<div class="form-group">
  		{{ children }}
  	</div>
</form>
